@import '../utils/variables.scss';
@import '../utils/mixins.scss';

main {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    background-color: $header-background-color;
    border-radius:$parents-border-radius;
    margin:0%;
    padding:3%;
    

    


}