@import './variables.scss';

@mixin main-children{
    background-color: $main-elements-background-color;
    border-radius: $children-border-radius;
    width: 100%;
    padding:0%;
    margin:0;

    
}

@mixin main-grandchildren{
    background-color: $main-grandchildren-background-color;
    border-radius: $grandchildren-border-radius;

    
}

@mixin main-great-grandchildren{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

@mixin pokemon-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 2%;
    
}

@mixin required-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0%;
    
}

@mixin card-controls{
    background-color: rgb(163, 163, 163);

}

/* @mixin type-tag{
    $type-normal-color
    $type-fighting-color
    $type-flying-color
    $type-poison-color
    $type-ground-color
    $type-rock-color
    $type-bug-color
    $type-ghost-color
    $type-steel-color
    $type-fire-color
    $type-water-color
    $type-grass-color
    $type-electric-color
    $type-psychic-color
    $type-ice-color
    $type-dragon-color
    $type-dark-color
    $type-fairy-color
    $type-unknown-co
    $type-shadow-color

    &>.type .normal{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin:3px;
        padding:7px;
        border-radius: 20px;
        background-color: $type-normal-color;
        color: white;
    }
    

} */