$titles-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$normal-font: 'Franklin Gothic';

$general-background-color: rgb(231, 231, 231); 
$header-background-color: rgb(247, 247, 247); 
$main-elements-background-color: rgb(247, 247, 247); 
$main-grandchildren-background-color: rgb(252, 252, 252); 

$parents-border-radius: 24px;
$children-border-radius: 12px;
$grandchildren-border-radius: 12px;

$input-border-color: rgb(202, 202, 202);
$input-border-radius: 6px;

