$titles-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$normal-font: 'Franklin Gothic';

$general-background-color: rgb(231, 231, 231); 
$header-background-color: rgb(247, 247, 247); 
$main-elements-background-color: rgb(247, 247, 247); 
$main-grandchildren-background-color: rgb(252, 252, 252); 

$parents-border-radius: 24px;
$children-border-radius: 12px;
$grandchildren-border-radius: 12px;

$input-border-color: rgb(223, 223, 223);
$input-border-radius: 6px;

$card-border-radius: 12px;
$card-border-color: rgb(223, 223, 223);

$required-card-border-color: rgb(189, 0, 0);
$required-card-info-border-radius: 10px;
$required-card-img-width: 70%;
$required-card-name-id-padding-bot: 0%;

$close-button-radius: 30px;



//Type color
$type-normal-color: rgb(230, 230, 230);
$type-fighting-color: rgb(201, 184, 184);
$type-flying-color: rgb(85, 189, 166);
$type-poison-color: rgb(116, 38, 146);
$type-ground-color: rgb(99, 57, 38);
$type-rock-color: rgb(107, 82, 58);
$type-bug-color: rgb(5, 150, 12);
$type-ghost-color: rgb(172, 172, 172);
$type-steel-color: rgb(76, 116, 143);
$type-fire-color: rgb(255, 120, 9);
$type-water-color: rgb(0, 153, 255);
$type-grass-color: rgb(123, 255, 47);
$type-electric-color: rgb(255, 251, 0);
$type-psychic-color: rgb(205, 77, 255);
$type-ice-color: rgb(162, 244, 250);
$type-dragon-color: rgb(223, 223, 223);
$type-dark-color: rgb(92, 80, 117);
$type-fairy-color: rgb(223, 136, 215);
$type-unknown-color: rgb(0, 0, 0);
$type-shadow-color: rgb(121, 121, 121);

